
@{
    ViewBag.Title = "Welcome to Global Fund Portal"; 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<h2>Global Fund Portal for Primary Recipients</h2>
Welcome @HttpContext.Current.User.Identity.Name


<link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<!--
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DASHBOARD </title>-->
<!------ Include the above in your HEAD tag ---------->
<!--<style>
    span.field-validation-error {
        color: red;
    }
</style>

</head>
-->
<body>

    @*<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">nacs</a>

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Manage Roles", "Index", "Role")</li>
                    <li>@Html.ActionLink("Manage Users", "Index", "UsersRegistration")</li>
                    <li>@Html.ActionLink("Manage Sub-Recipients", "Index", "PR")</li>
                    <li>@Html.ActionLink("Manage Girls", "Index", "ManageGirls")</li>


                </ul>

            </div>
            <span class="icon-bar"></span>
            <div class="" navbar-collapse collapse"">

            </div>
        </div>
    </nav>*@








</body>
</html>

<!-- Main content -->





