
@{
    ViewBag.Title = "Welcome to Global Fund Portal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Bootstrap CSS -->
<link href="~/NiceAdmin/css/bootstrap.min.css" rel="stylesheet">

<!-- bootstrap theme -->
<link href="~/NiceAdmin/css/bootstrap-theme.css" rel="stylesheet">
<!--external css-->
<!-- font icon -->
<link href="~/NiceAdmin/css/elegant-icons-style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<!-- full calendar css-->
<link href="~/NiceAdmin/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
<link href="~/NiceAdmin/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
<!-- easy pie chart-->
<link href="~/NiceAdmin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
<!-- owl carousel -->
<link rel="stylesheet" href="~/NiceAdmin/css/owl.carousel.css" type="text/css">
<link href="~/NiceAdmin/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
<!-- Custom styles -->
<link rel="stylesheet" href="~/NiceAdmin/css/fullcalendar.css">
<link href="~/NiceAdmin/css/widgets.css" rel="stylesheet">
<link href="~/NiceAdmin/css/style.css" rel="stylesheet">
<link href="~/NiceAdmin/css/style-responsive.css" rel="stylesheet" />
<link href="~/NiceAdmin/css/xcharts.min.css" rel=" stylesheet">
<link href="~/NiceAdmin/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
<h2>Global Fund Portal for Primary Recipients</h2>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
            <i class="fa fa-cloud-download"></i>
            <div class="count">3</div>
            <div class="title">Primary Recipients</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
            <i class="fa fa-shopping-cart"></i>
            <div class="count">4</div>
            <div class="title">Sub Recipients</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box dark-bg">
            <i class="fa fa-thumbs-o-up"></i>
            <div class="count">8</div>
            <div class="title">Interventionist</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

    </div>

    <!--/.info-box-->
</div>
<!--/.col-->
    Welcome @HttpContext.Current.User.Identity.Name


    <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <!DOCTYPE html>
    <html>
    <!--
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>DASHBOARD </title>-->
    <!------ Include the above in your HEAD tag ---------->
    <!--<style>
        span.field-validation-error {
            color: red;
        }
    </style>

    </head>
    -->
    <body>

        @*<nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">nacs</a>

                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Manage Roles", "Index", "Role")</li>
                            <li>@Html.ActionLink("Manage Users", "Index", "UsersRegistration")</li>
                            <li>@Html.ActionLink("Manage Sub-Recipients", "Index", "PR")</li>
                            <li>@Html.ActionLink("Manage Girls", "Index", "ManageGirls")</li>


                        </ul>

                    </div>
                    <span class="icon-bar"></span>
                    <div class="" navbar-collapse collapse"">

                    </div>
                </div>
            </nav>*@








    </body>
</html>

<!-- Main content -->
